.container {
  max-width  : 1300px;
  margin     : 0 auto;
  font-family: 'San Francisco', 'Geist Sans', sans-serif;
}

.hero {
  position       : relative;
  width          : 768px;
  margin         : 0 auto;
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;

  .title {
    font-family: 'San Francisco Mono', 'San Francisco';
    font-size  : clamp(32px, 15vw, 60px);
    font-weight: 500;
  }
}


.about {
  height: 100vh;
  width : 100%;

  .about-container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }


  .title {
    font-family: 'San Francisco Rounded', ;
    font-size  : clamp(32px, 15vw, 60px);
    font-weight: 600;
    text-align : center;
  }

  .webview {
    padding: 10px;
    width  : 100%;

    .content {
      display: flex;
      padding: 40px;

      .text {
        max-width   : 55%;
        font-size   : 24px;
        margin-right: auto;

        p {
          margin-bottom: 10px;
        }
      }



      .highlight {
        color      : var(--color-mauve);
        font-weight: 600;
      }
    }

    .img {
      background-color: var(--color-mantle);
      border-radius   : 15px;
    }
  }

}