.container {
  max-width  : 1300px;
  margin     : 0 auto;
  font-family: 'San Francisco', 'Geist Sans', sans-serif;
}

.hero {
  position       : relative;
  margin         : 0 auto;
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-bottom  : 10vh;

  .webview {
    padding-bottom: 100px;
  }

  .content {
    flex-direction: column;
    align-items   : center;
  }


  .title {
    font-family: 'San Francisco Mono', 'San Francisco';
    font-size  : clamp(32px, 15vw, 60px);
    font-weight: 500;
  }

  .description {
    margin-top : -50px;
    font-family: 'San Francisco Mono', 'San Francisco';
    font-size  : clamp(24px, 3vw, 32px);
    font-weight: 400;
  }
}


.about {
  width        : 100%;
  margin-bottom: 25vh;

  .about-container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }
}

.webview {
  padding: 50px;
  width  : 100%;

  .content {
    display: flex;

    .text {
      max-width   : 55%;
      font-size   : 24px;
      margin-right: auto;

      p {
        margin-bottom: 10px;
      }
    }



    .highlight {
      color      : var(--color-mauve);
      font-weight: 600;
    }
  }

  .img {
    background-color: var(--color-mantle);
    border-radius   : 15px;
  }
}

.title {
  font-family: 'San Francisco Rounded', ;
  font-size  : clamp(32px, 15vw, 60px);
  font-weight: 600;
  text-align : center;
}

.stack {
  width        : 100%;
  margin-bottom: 25vh;

  .subtitle {
    font-size  : clamp(24px, 3vw, 32px);
    font-weight: 500;
  }

  .skillName {
    font-size  : 18px;
    font-weight: 500;
  }

  .hint {
    font-size  : 14px;
    font-weight: 400;
    opacity    : 0.8;
  }
}

.projects {
  width        : 100%;
  margin-bottom: 25vh;

  .content {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
  }
}

.contacts {
  .content {
    display       : flex;
    flex-direction: column;
  }

  width         : 100%;
  margin-bottom : 10vh;

}