.term-cursor {
  position: absolute;
  left: 20px;
  top: 40px;
}

.highlight-success {
  color: var(--color-green);
  font-weight: 600;
}

.highlight-prefix {
  color: var(--color-peach);
}

.highlight-error {
  color: var(--color-red);
  font-weight: 600;
}

.highlight-found {
  text-decoration: underline var(--color-text) 1px;
}
