.container {
  max-width         : 1300px;
  // height         : 100vh;
  margin            : 0 auto;
  display           : flex;
  flex-direction    : column;
  align-items       : center;
  justify-content   : center;
  gap               : 20px;
  padding-bottom    : 80px;
  padding-top       : 40px;
}

.title {
  font-family: 'San Francisco Rounded', ;
  font-size  : clamp(32px, 15vw, 60px);
  font-weight: 600;
  text-align : center;
}

.webview {
  padding: 10px 50px 50px 50px;
  width  : 100%;

  h3 {
    font-family: 'San Francisco';
    font-size  : clamp(16px, 3vw, 24px);
    font-weight: 600;
  }
}

.crafting-window {
  padding        : 0 40px;
  width          : fit-content;
  aspect-ratio   : 2/1;
  border-radius  : 15px;
  display        : flex;
  flex-direction : column;
  gap            : 16px;
  justify-content: center;
  margin         : 0 auto;
}

.crafting-area {
  display    : flex;
  align-items: center;
  gap        : 8px;
}

.crafting-table {
  display           : grid;
  grid-template-rows: repeat(3, 64px);
  gap               : 8px;
}

.crafting-table-row {

  display              : grid;
  grid-template-columns: repeat(3, 64px);
  gap                  : 8px;
}

.inventory {
  display           : grid;
  grid-template-rows: repeat(4, 64px);
  gap               : 8px;

}

.inventory-row {
  display              : grid;
  grid-template-columns: repeat(12, 64px);
  gap                  : 8px;
}

.actions-list {
  display: flex;
  gap    : 10px;
  padding: 10px;

  .actions-item {
    width : 64px;
    height: 64px;
  }
}



.clicker {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  gap           : 20px;
}

.clicker-block {
  width: 100%;
}

.clicker-pickaxe {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  padding        : 20px;


  .clicker-pickaxe-container {
    position: relative;
    height  : 200px;

    &::before {
      content         : "";
      position        : absolute;
      z-index         : -1;
      top             : 0;
      left            : 0;
      width           : 100%;
      height          : 100%;
      background-color: var(--color-crust);
      mask-image      : url('/clicker_tools/woodenPickaxe.webp');
      mask-repeat     : no-repeat;
      mask-position   : center;
      mask-size       : contain;
    }
  }


  .clicker-pickaxe-img {
    width: 100%;
  }
}

.clicker-furnace {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  padding        : 20px;

  .clicker-furnace-container {
    position: relative;
    height  : 200px;

    &::before {
      content         : "";
      position        : absolute;
      z-index         : -1;
      top             : 0;
      left            : 0;
      width           : 100%;
      height          : 100%;
      background-color: var(--color-crust);
      mask-image      : url('/clicker_tools/furnace.webp');
      mask-repeat     : no-repeat;
      mask-position   : center;
      mask-size       : contain;
    }
  }
}

.clicker-furnace-img {
  width: 100%;
}



.clicker-backdrop {
  width                 : 100%;
  display               : flex;
  flex-direction        : column;
  align-items           : center;
  justify-content       : center;
  transition            : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background            : radial-gradient(circle, var(--color-mauve) 0%, transparent 50%);
  // background-size    : 100%;
  padding               : 80px;
  background-position   : 50% 50%;
  background-repeat     : no-repeat;
  // aspect-ratio    : 1/1;
}