.hero {
  position       : relative;
  margin         : 0 auto;
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-bottom  : 10vh;

  .webview {
    padding-bottom: 100px;
  }

  .title {
    font-family: 'San Francisco Mono', 'San Francisco';

  }

  .description {
    font-family: 'San Francisco Mono', 'San Francisco';
    font-size  : clamp(16px, 3vw, 32px);
    font-weight: 400;
  }
}