.about {
  width        : 100%;
  margin-bottom: 10vh;

  .title {
    font-family: 'San Francisco Rounded', ;
    font-size  : clamp(32px, 15vw, 60px);
    font-weight: 600;
    text-align : center;
  }

  .about-container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }



  .text {
    width       : 100%;
    font-size   : 24px;
    margin-right: auto;

    p {
      margin-bottom: 10px;
    }
  }



  strong {
    color      : var(--color-mauve);
    font-weight: 600;
  }
}

.img {
  background-color: var(--color-mantle);
  border-radius   : 15px;
  width           : 100%;
}