.card {
  padding         : 16px;
  border-radius   : 15px;
  box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-base);
  display         : flex;
  gap             : 16px;
  justify-content : space-between;
  position        : relative;

  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.1s ease-in-out;

  &:hover {
    transform: scale(1.02);
    z-index  : 2;
  }

  .preview {
    width        : 100%;
    position     : relative;
    border-radius: 10px;
    overflow     : hidden;

    .preview-img {
      position: relative;
      width   : 100%;
    }

    &:hover {
      .backdrop {
        opacity: 1;
      }
    }

    .backdrop {
      opacity        : 0;
      transition     : opacity 0.2s ease-in-out;
      position       : absolute;
      top            : 0;
      left           : 0;
      width          : 100%;
      height         : 100%;
      display        : flex;
      align-items    : center;
      justify-content: center;
      z-index        : 1;
      background     : var(--color-mantle-xtr);
      backdrop-filter: blur(10px);
    }


  }

}



.title {
  font-size    : clamp(24px, 3vw, 32px);
  font-weight  : 600;
  text-wrap    : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.description {
  color     : var(--color-subtext1);
  font-size : clamp(16px, 3vw, 24px);
  margin-top: 4px;
}

.links {
  margin-top: 8px;
  display   : flex;
  gap       : 8px;
}

.finished {
  background-color: var(--color-green);
}

.inProgress {
  background-color: var(--color-yellow);
}

.cancelled {
  background-color: var(--color-red);
}

.active {
  background-color: var(--color-blue);
}

button {
  padding      : 10px;
  border-radius: 10px;
  width        : 100%;
  cursor       : pointer;
  transition   : 0.2s ease-in-out;
  font-size    : clamp(16px, 3vw, 24px);
}

.btn {
  &-repo {
    background-color: var(--color-mauve);
    color           : var(--color-base);

    &:hover {
      box-shadow: 0 0 5px var(--color-mauve);
    }
  }

  &-deploy {
    border: 1px solid var(--color-green);
    color : var(--color-green);

    &:hover {
      box-shadow : 0 0 5px var(--color-green);
      text-shadow: 0 0 5px var(--color-green);
    }
  }
}

.backdrop {
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  height         : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
  color          : var(--color-mauve);
  font-size      : 1.5rem;
}

.status {
  padding      : 3px 10px;
  border-radius: 5px;
  color        : var(--color-base);
  font-size    : clamp(16px, 3vw, 24px);
  font-weight  : 600;
  text-wrap    : nowrap;
}