.rolling-text-container {
  display  : flex;
  font-size: 10rem;
  position : relative;
}

.rolling-column {
  overflow          : hidden;
  height            : 18rem;
  display           : flex;
  align-items       : center;
  position          : relative;
  mask-image        : linear-gradient(to bottom, transparent, white 20%, white 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, white 20%, white 80%, transparent);
}

.rolling-list {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  transition    : transform 1.5s ease-out;
}

.rolling-char {
  height         : 18rem;
  display        : flex;
  align-items    : center;
  justify-content: center;
  opacity        : 0.6;
}

.rolling-char:nth-child(21) {
  opacity: 1;
}