.wrapper {
  // background   : linear-gradient(180deg, var(--color-dock-icon-background) 0%, var(--color-mauve-tr) 100%);

  background     : var(--color-dock-icon-background);
  padding        : 10px;
  color          : var(--color-mauve);
  height         : 100%;
  width          : 100%;
  display        : flex;
  font-size      : 100px;
  align-items    : center;
  justify-content: center;
  box-sizing     : border-box;
}

.active {
  position: relative;

  &::after {
    content         : "";
    position        : absolute;
    width           : 8px;
    height          : 8px;
    top             : 110%;
    left            : 50%;
    transform       : translateX(-50%);
    border-radius   : 100%;
    background-color: var(--color-text);
  }
}