.stack {
  font-size: clamp(16px, 1.5vw, 18px);

  @media (max-width: 768px) {
    font-size: clamp(10px, 2vw, 12px);
  }
}

.skills {
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  transform: translateY(20px);
  opacity: 0;
}
.open {
  opacity: 1;
  transform: translateY(0px);
}
