.stack {
  width        : 100%;
  margin-bottom: 10vh;


  .subtitle {
    font-size  : clamp(24px, 3vw, 32px);
    font-weight: 500;
    font-family: 'San Francisco Rounded', ;
  }

  .skillName {
    font-size  : clamp(18px, 3vw, 24px);
    font-weight: 500;
  }

  .hint {
    font-size  : 14px;
    font-weight: 400;
    opacity    : 0.8;
  }
}