.main {
  max-width: 1300px;
  font-size: 18px;
}

.highlight {
  font-weight: 600;
  color: var(--color-mauve);
}

.title {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  display: inline;
}
