.main {
  max-width: 1300px;
  font-size: 18px;
}

.stack-area {
  width: 100%;
  height: 720vh;
}

.stack-container {
  height: 100vh;
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.stack-bg {
  width: 100%;
  height: 100%;
  position: fixed;

  background: var(--color-base);
  --gap: 10em;
  --line: 1px;
  --color: var(--color-crust);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.section {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
