.cell {
  width            : 64px;
  height           : 64px;
  background-color : var(--color-base);
  border-radius    : 10px;
  position         : relative;
  user-select      : none;
  -webkit-user-drag: none;
  -moz-user-select : none;



  &::before {
    transition   : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    content      : "";
    position     : absolute;
    width        : calc(100% + 4px);
    height       : calc(100% + 6px);
    border-radius: 12px;
    transform    : translate(0%, 0%);
    top          : -3px;
    left         : -2px;
    z-index      : -1;
    scale        : 0.8;
    background   : linear-gradient(180deg, var(--color-sky) 0%, var(--color-mauve) 100%);
  }


  &.selected {
    &::before {
      scale: 1.05;
    }
  }
}

.amount {
  font-family     : 'San Francisco Mono', 'Geist Mono', monospace;
  position        : absolute;
  bottom          : 0%;
  right           : 0%;
  background-color: var(--color-mantle-tr);
  border-radius   : 10px;
  padding         : 0 3px;
}